:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --footer-text: #ffffff;
  --body-background-color: #fff;
  --hover-color: #2196f3;
  --background-color: #2f303a;
  --portfolio-buttons: #f5f4fa;
  --footer-text-transp: rgba(255, 255, 255, 0.6);
  --footer-text-soc: rgba(255, 255, 255, 1);
  --hero-button-fover: #188ce8;
  --team-background: #f5f4fa;
  --header-line: #ececec;
  --port-border: #eeeeee;
  --main-features-icons: #f5f4fa;
  --background-social: rgba(255, 255, 255, 0.1);
  --soc-color: rgba(175, 177, 184, 1);
  --current-page-after: rgba(33, 150, 243, 1);
  --portfolio-lable: rgba(47, 48, 58, 0.8);
  --section-portfolio-overlay: rgba(33, 150, 243, 0.9);
  --backdrope-color: rgba(0, 0, 0, 0.2);
}
body {
  background-color: var(--body-background-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 16px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

ul,
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.main-header {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  text-decoration: none;
  color: var(--primary-text-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo--web {
  color: var(--hover-color);
  margin-right: 0;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__logo:hover,
.header__logo:focus {
  color: var(--text-color);
}

.nav__list {
  display: flex;
  margin-left: auto;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link,
.nav__link--current {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header-link-cont {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__list,
.nav__link {
  position: relative;
  color: var(--primary-text-color);
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.header__link:hover,
.header__link:focus,
.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--hover-color);
}

.header__contacts,
.header__link {
  position: relative;

  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  position: relative;

  list-style: none;
  text-decoration: none;
  color: var(--hover-color);
}

.nav__link--current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--current-page-after);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after {
  transform: scaleX(1);
}
.header__envelope,
.header__smartfon {
  fill: currentColor;
  margin-right: 10px;
}

.header__line {
  border: 1px solid var(--header-line);
  margin: 0;
}
/* main-hero*/

.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  outline: 2px solid tomato;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Imghero.jpg");
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
}

.hero-overlay__title {
  display: inline-block;
  margin-bottom: 30px;

  width: 696px;

  color: var(--body-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-overlay__button {
  display: inline-block;
  cursor: pointer;

  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  margin: 0;

  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;

  background-color: var(--hover-color);
  color: var(--footer-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-overlay__button:hover,
.hero-overlay__button:focus {
  background-color: var(--hero-button-fover);
}

/* features*/
.features {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.features__item {
  width: 270px;
  margin-right: 30px;
}
.features__item:nth-child(4n) {
  margin-right: 0;
}
.features-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--main-features-icons);
  border-radius: 4px;
}
.features-card__icon {
  width: 70px;
  height: 70px;
}

.section-features {
  list-style: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 10px;
}
.features__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

.section-features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* our business */

.busineses {
  display: flex;
  flex-wrap: wrap;
}
.busineses__item {
  position: relative;

  width: 370px;
  margin-right: 30px;
}
.busineses__label {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  max-width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: var(--portfolio-lable);
  color: white;
}
.busineses__item:nth-child(3n) {
  margin-right: 0;
}
.our-business {
  list-style: none;
  padding-bottom: 94px;
}

h2 {
  margin-bottom: 50px;
  text-align: center;
}

.busineses__image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* employees */

.employees {
  display: flex;
  flex-wrap: wrap;
}
.employees__item {
  width: 270px;
  margin-right: 30px;

  background-color: var(--body-background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.employees__item:nth-child(4n) {
  margin-right: 0;
}
.section-employees {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
  outline: 2px solid tomato;
}
.employees {
  list-style: none;
}
.employees__card {
  padding: 30px 32px;
  text-align: center;
}

.employees__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}
.employees__position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 16px;
}
.employees__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.employees-soc {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
  justify-content: center;
}

.employees-soc__item {
  margin-right: 10px;
}
.employees-soc__item:last-child {
  margin-right: 0;
}

.employees-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  fill: var(--soc-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employees-soc__icon {
  width: 20px;
  height: 20px;
}
.employees-soc__link:hover,
.employees-soc__link:focus {
  background-color: var(--hover-color);
  fill: var(--body-background-color);
}

/* our clients*/
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid tomato;
}
.clients {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.clients__item {
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__icon {
  width: 106px;
  height: 60px;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  fill: var(--soc-color);
  border: 1px solid var(--soc-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--hover-color);
  border: 1px solid var(--hover-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  text-decoration: none;
  font-family: raleway, sans-serif;
  color: var(--body-background-color);
  font-size: 26px;
  line-height: 1.19;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo__web {
  color: var(--hover-color);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--text-color);
}
.footer-address__item {
  margin-bottom: 9px;
}
.footer-address:nth-last-child(1) {
  margin-bottom: 0;
}
.footer-address {
  display: inline-block;
  list-style: none;
  color: var(--footer-text);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.footer-address__link {
  list-style: none;
  color: var(--footer-text-transp);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container.foot {
  display: flex;
  align-items: baseline;
}

.footer-soc {
  margin-left: 70px;
}
.footer-soc__title {
  margin-bottom: 20px;
  color: var(--footer-text-soc);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.17;
}
.footer-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.footer-social__item {
  margin-right: 10px;
}
.footer-social__item:last-child {
  margin-right: 0;
}
.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--body-background-color);
  background-color: var(--background-social);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icon {
  fill: var(--body-background-color);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--hover-color);
}

/*footer-subscribe*/

.footer-subscribe {
  margin-left: 93px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.footer-subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
}
.footer-form {
  display: flex;
}
.footer-input {
  display: inline-block;

  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: var(--footer-text-transp);
  background-color: var(--background-color);
}

.footer-button {
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: space-evenly;

  margin-top: 20px;
  margin-left: 12px;
  padding: 13px 28px 13px 29px;
  font-weight: 700;

  letter-spacing: 0.06em;
  color: var(--body-background-color);

  width: 200px;
  height: 50px;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.footer-button__img {
  display: inline-block;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.footer-button:hover {
  cursor: pointer;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrope-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}
.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-height: 581px;
  min-width: 528px;

  background-color: var(--body-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-button {
  position: absolute;
  align-items: center;
  right: 8px;
  top: 8px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-image: url(../images/close_modal.svg);
  background-origin: border-box;
}

.modal-button:hover,
.modal-button:focus {
  position: absolute;
  align-items: center;

  right: 8px;
  top: 8px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-image: url(../images/Vector_close.svg);

  background-color: var(--body-background-color);
  background-origin: border-box;
}

/*backdrop subscribe form */
.modal-form {
  padding: 40px;
  width: 528px;
}
.modal-form__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--background-color);
}
.form-field-subscribe {
  position: relative;
  margin-bottom: 20px;
}
.form__label {
  top: 0;
  left: 0;
  margin-bottom: 7px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: var(--text-color);
}
.form__input {
  width: 100%;
  margin: 0;
  padding: 12px 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__img {
  position: absolute;
  display: inline-block;

  top: 50%;
  left: 15px;
}

.form__input:hover,
.form__input:focus,
.form__comments:hover,
.form__comments:focus {
  border: 1px solid var(--hover-color);
  fill: var(--hover-color);
  outline: var(--hover-color);
}

.form__input:focus + .form__img,
.form__input:hover + .form__img {
  fill: var(--hover-color);
}
.form__comments {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 12px 16px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-acceptation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
.conditions {
  margin-left: 4px;
  color: var(--hover-color);
}
.checkbox__icon {
  display: inline-block;
  position: absolute;
  left: 54px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.checkbox:checked ~ .checkbox__icon {
  border-color: transparent;

  background-image: url(../images/icon_chek.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accept-button {
  display: inline-block;
  margin: 0 auto;
  align-items: center;
  min-width: 200px;
  min-height: 50px;

  color: var(--body-background-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accept-button:hover,
.accept-button:focus {
  background-color: var(--hero-button-fover);
}

/* Portfolio */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-center {
  margin-bottom: 50px;

  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-center .item {
  margin-right: 8px;
}
.menu-center .item:last-child {
  margin-right: 0;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--portfolio-buttons);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-current-btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--hero-button-fover);
  color: var(--body-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--hover-color);
  color: var(--body-background-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.button-current-btn:hover,
.button-current-btn:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.title-portfolio {
  padding: 20px 24px;
  border: 1px solid var(--port-border);
}
.portfolio .portfolio-item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio-item .header-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item .header-link:hover,
.portfolio-item .header-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  color: var(--primary-text-color);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item .header-link {
  padding: 0;
}
.title-portfolio .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.title-portfolio .text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.img-port-port {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-image::after {
  display: inline-block;
  content: "Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.";

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0;
  padding: 63px 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  background-color: var(--section-portfolio-overlay);
  color: var(--body-background-color);
}
.portfolio-item:hover .portfolio-image::after {
  transform: translateY(0%);
}
